.App {
  text-align: center
}

.nav-wrapper {
  padding-top: 25px;
  padding-left: 25px;
  height: 130px;
}

.blue-text {
  font-weight: bold
}

.landing-content {
  /* display: flex; */
  
  margin: 0 0 0 0;
  max-width: 1220px;
  background-color: #0099FF;
  height: 950px;
}

.landing-img {
  padding: 120px 0;
}

.homepage-logo {
  height: 80px;
}